@import "../dark-variables";
@import "../light-variables";

.Icon-color {
  &.light {
    fill: $light-text-200;
    &.active {
      background-color: $light-primary-100;
      border-radius: 3px;
      box-shadow: 0 0 0 5px $light-primary-100;
    }
  }
  &.dark {
    fill: $dark-text-200;
    &.active {
      background-color: $dark-primary-300;
      border-radius: 3px;
      box-shadow: 0 0 0 5px $dark-primary-300;
    }
  }
}
