@import "../dark-variables";
@import "../light-variables";

@import "../breakpoints";
@import "../mixins";

.Title-container {
  margin: 5px;
  border-radius: 10px;
  left: 0px !important;
  width: calc(100% - 10px) !important;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  &.light {
    color: $light-text-100;

    .MuiToolbar-root {
      border-radius: 10px;
      background-color: $light-bg-200;
    }
  }

  &.dark {
    color: $dark-text-100;

    .MuiToolbar-root {
      border-radius: 10px;
      background-color: $dark-bg-200;
    }
  }

  @include md {
    width: calc(100% - 245px) !important;
  }
}

.ContentTitle-wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  #checker {
    display: flex;
  }
}
