.Profile {
  width: 300px;
  border-radius: 15px;
}

#Column-1 {
  text-align: center;
}

#Column-2 {
  text-align: justify;
}

.TechStack {
  align-items: center;
}

#HTB-band {
  width: 250px;
}

#THM-band {
  width: 250px;
}

.CVDownload-button {
  margin-top: 1vh;
}
