// light
$light-primary-100: #d4eaf7;
$light-primary-200: #b6ccd8;
$light-primary-300: #3b3c3d;
$light-accent-100: #71c4ef;
$light-accent-200: #00668c;
$light-text-100: #1d1c1c;
$light-text-200: #313d44;
$light-bg-100: #fffefb;
$light-bg-200: #f5f4f1;
$light-bg-300: #cccbc8;
